/* icarport fonts from fonts.css file */
@import url(./fonts.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand{
    padding:0 2rem 0 5rem  ;
}
.header_area.main-menu.navbar.navbar{
    padding:0rem 20rem ;
}
.header_area .main-menu .nav-item .nav-link{
    padding: 1.7rem;
    font-family: "Merriweather",cursive;
    font-weight: 500;
}
/* end navigation */

/*banner area*/
.site-main .site-banner{
    background: url(../img/m_w1\ blacklightside.jpg) ;
    position:relative;
}
.site-main .site-banner .site-title h6{
    padding-top: 12.5%;
    /*margin-left: 25%;*/
    color: #cf873b;
    font-family: "Merriweather",cursive;
    
}
.site-main .site-banner .site-title h1{
    color: #cf873b;
    /*margin-left: 25% ;*/
    font-size: 100px;
    font-family: "Samarkan",cursive;
    position: relative;
}   
.site-main .site-banner .site-title h4{
    color: #cf873b;
    /*margin-left: 25% ;*/
    font-family: "Merriweather",cursive;
}
.site-main .site-banner .site-title p{
    color: #cf873b;
    /*margin-left: 25% ;*/
    font-family: "Merriweather",cursive;
    
}
/* button */

.button{
    padding: 0.8 rem 2.2rem;
    /*margin-left: 25% ;*/
    font-family : "roboto";
    font: normal 500 1100px/20px ;
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
    background:linear-gradient(45deg,#e65c00,#F9D423);
    background-clip:padding-box;
    color:black;
    transition: box-shadow .6s ease;   
}
.button:hover{
    padding: 0.8 rem 2.2rem;
    /*margin-left: 25% ;*/
    font-family : "roboto";
    font: normal 500 16px/20px ;
    position: relative;
    border: 3px solid wheat;
    border-radius: 4px;
    box-shadow: 5px 5px 10px #cf873b;
    background: transparent ;
    background-clip:padding-box;
    color:wheat;
}
/* end button*/
/*end banner area*/
/*Start abobut us*/
 .about-us{
     background: linear-gradient(33deg, #603813 ,#cf873b);
     padding: 20% 20% 0% 20%;
 }

 .about-us .abt-image{
     margin: 10% 10%;
 }
 .about-us .abt{
     margin-bottom: 5%;
     padding: 0.8rem 2.2rem;
     background: #836539;
     font-family: "Samarkan";
     font-weight: 900;
     font-size:64px;
     position: relative;
     border: 10px solid black;
     box-shadow: 5px 5px 10px #cf873b;
     background-clip:padding-box;
     transition: box-shadow ease 0.7s;

 }
 .about-us .abt:hover{
     box-shadow: 10px 10px 10px white;
 }
 .about-us .para{
     font-family: "Merriweather";
     font-weight: 100;
     word-spacing:0.5vw ;
     color: rgb(228, 133, 65);
     letter-spacing:0.1rem ;
     font-size: 3vw;
     margin-bottom: 0% ;
 }

 /*.about-us .nam-img{
     margin: 15% 15%;
 }*/
/* End about us */
/* Language area */
.lan-ar1 {
    background: linear-gradient(45deg , #cf873b ,wheat);
    padding: 0rem 0rem 9rem 0rem;
}
.first-row{
    margin-top: 9rem;
    margin-left: 2.5rem;
    
    margin-right: 2.5rem;
}
.singlelang{
    display: flex;
    justify-content: center;
    border: 2px solid #e07e14;
    text-align: center;
    padding: 1.8rem 5rem;
    margin: 2rem 0rem;
    cursor: pointer;
    transition:transform .4s ease;
}
.singlelang {
    width: 100%;
}
.singlelang:hover{
    box-shadow: 10px 5px 20px  black ;
    transform: scale(1.15);
}
.singlelang:hover img{
    filter: brightness(0.01);
}
.experience{
    margin-right: 2.5rem;

    margin-left: 2.5rem;
    
}
/*
.experience-area .year span{
    display: block;
    color: #925a5a;
    font-weight: bold;
    font-family: "Merriweather";
    letter-spacing: 0.5rem;
}

.experience-area .years-area{
    background:url(../img/border1.png) no-repeat 45px 20px ;
    padding: 11% 1.1%;
    width: 40rem;
    height: 15rem;
    padding-left: 8rem;
    position: relative;
}


.call-area{
    padding-left: 8rem ;
}
.call-area a {
    outline: none;
    text-decoration: none;
    color:rgb(78, 37, 8);
    font-family: "roboto";
}
.call-area span{
    font-family: "roboto";
    font-weight: bold;
    color: chocolate;
    display: block;
    font-size: 24px;
}*/
.year{
    display: flex;
    justify-content: center;
    color: #000;
    /*margin-left:  33%;*/
    margin-top: 33%;
    margin-bottom: 22%;
    font-family: "roboto";
    letter-spacing: 0.3vw;
}
.call{
    display: flex;
    justify-content: center;
    /*margin-left:33%;*/
    letter-spacing: 0.3vw;
    font-family: "roboto";
}
.call a{
    outline: none;
    text-decoration: none;
    color:#ac4313
}
.call a:hover{
    text-decoration: underline;
    color: #603813;
}

/* End language area */ 
/* Skills Area*/
.skills-area{
    background:linear-gradient(225deg,rgb(240, 136, 51),rgb(226, 198, 147));
    padding: 4rem;
}
.skills-area .para{
    padding: 0rem 0rem;
    font-family:"Merriweather";
    font-weight: 300;
    color: rgb(119, 53, 9);
    margin-bottom: 8rem;
}
.skillik .ik{
    font-family:"Merriweather" ;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
    color: #863c0b;
}
.skillik p {
    font-family: "Merriweather";
    word-spacing: 0.8rem;
    letter-spacing: 0.1rem;
    color: #5e3d1a
}
.skillik .i-want{
    margin: 8rem 0rem 2rem 0rem;
    font-family:"Merriweather" ;
    letter-spacing: 0.2rem;
    color: rgb(134, 60, 11);
}

.skills-area a{
    color: rgb(77, 23, 7);
}

.skills-area .skik{
    background: #f7c590;
    padding: 2rem 0rem;
    margin-bottom: 1rem;
    transition: box-shadow .3s ease;
    transition: transform .7s ease;
    border: 3px solid rgb(247, 145, 56);
}
.skills-area .skik:hover{
    box-shadow: 10px 5px 10px black;
    transform: scale(1.1);
}

/* End skills area*/
/* Institution */
.carousel-item{
    max-width:1600px;
    max-height: 700px;
    min-height: 162px;
    min-width : 360px;
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}
.carousel-item::before{
    content:"";
    display: block;
    position: absolute;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #cf873b;
    opacity: 0.8;
}
.carousel-caption{
    bottom:37.14%;
    padding-right: 6.25%;
    padding-left: 6.25%;

}
.carousel-caption h1{
    font-size: 48px;
    font-family: "Merriweather";
    color: rgb(109, 57, 20);
}
.carousel-caption p{
    font-size: 24px;
    font-family: "Merriweather";
    color: rgb(109, 57, 20);
}
.slider-btn{
    margin-top: 30px;
}
.slider-btn .btn {
    background : transparent;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: 900;
    color: saddlebrown;
    border: 3px solid saddlebrown;
    transition: box-shadow ease 0.8s;
}
.slider-btn .btn:hover {
    background : linear-gradient(225deg,rgb(255, 169, 8),rgb(221, 110, 19));
    padding: 0.8rem 2rem;
    font-size: 1rem;
    font-weight: bold;
    color:wheat;
    border: 3px solid #000;
    box-shadow:6px 6px 0px rgb(6, 245, 165);
}
.slider-btn a {
    outline: none;
    text-decoration: none;
    /*padding: 2px 1px 0;*/
    color:rgb(109, 55, 17)
}

.slider-btn a:visited {
    color:rgb(46, 17, 0)
}
.slider-btn a:hover {
    color:wheat;
}

/* End institution Area*/
/* Contact area */
.chidam{
    background: rgb(247, 197, 59);
    padding :20%
}
.chidam .content{
    max-width: 650px;
    margin:0 auto;
    text-align: center;
}
.chidam .content h3{
    margin-bottom:40px;
    color: rgb(102, 67, 1);
}
.chidam .btn0{
    height: 50px;
    border-color: #68035b ;
    border: 3px solid #0ca3c9;
    font-family: "roboto" ;
    color: rgb(170, 73, 170);
}
.chidam .btn1{
    height: 50px;
    border-color: #68035b ;
    border: 3px solid #0ca3c9;
    font-family: "roboto" ;
    color: #0a7c99;
}
.chidam .btn0:focus{
    border: 3px solid rgb(223, 103, 103);
    color:black;
}
.chidam .btn1:focus{
    border: 3px solid rgb(223, 103, 103);
    color:black
}
.chidam .content .btn{
    height: 50px;
    border-radius: 0;
    background-color: rgb(0, 100, 75) ;
    padding-right: 40px;
    padding-left: 40px;
    font-family: "roboto";
    color: wheat;
}
.chidam .content .btn:focus{

    background-color: rgb(153, 106, 4);
    border: 3px solid black;
}
/* End Contact Area */
